@import '../../../common.less';

.card {
    display: flex;
    flex-flow: column;
    box-shadow: 0 1px 2px 0 rgba(189, 189, 189, 0.6);
    border: solid 1px black;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
        text-decoration: inherit;
    }

    & > * {
        background-color: @color-white;
    }

    app-add-to-list-icon {
        pointer-events: all;
    }

    &.horizontal {
        width: 320px;
        height: 100%;
    }


    .top-line, .bottom-line {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        width: 100%;
        padding: 0 8px;
        height: 32px;
        .font-abraham;
    }

    .top-line {
        .top-right {
            flex: 0 0 auto;
            font-size: 13px;
            font-weight: 400;
            opacity: 0.9;
            .font-abraham;

            ::ng-deep {
                strong {
                    font-weight: 700;
                }
                .soft {
                    opacity: 0.9;
                }
            }
        }

        .top-left {
            margin-right: auto;
            flex: 0 1 100%;
            .ellipsis;
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            .font-abraham;

            ::ng-deep {
                strong {
                    font-weight: 700;
                }
                .soft {
                    opacity: 0.7;
                }
            }
        }

        .icon-circle {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            flex: 0 0 auto;
        }

        .icon-notice {
            width: 10px;
            height: 10px;
            flex: 0 0 auto;
            .background-image;
            background-size: 10px;
            background-image: url(../../../assets/search/img/icon-notice.svg);
        }
    }

    .body {
        padding: 8px 6px;
        display: flex;
        flex-flow: row;
        gap: 4px;
        align-items: flex-start;
        width: 100%;
        min-height: 40px;
        // overflow: hidden;

        .body-content {
            display: flex;
            flex-flow: column;
            flex: 1 1 auto;
            overflow: hidden;

            h2 {
                display: flex;
                flex-flow: column;
                margin: 0;
                overflow: hidden;
    
                span.title {
                    .font-miriam;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    .ellipsis;

                    ::ng-deep {
                        .arrow {
                            .background-image;
                            display: inline-block;
                            width: 32px;
                            height: 12px;
                            background-size: 32px 12px;

                            &.left-dashed {
                                background-image: url(../../../assets/search/img/arrow-right-dashed.svg);
                                transform: scaleX(-1);
                            }
                            &.right-dashed {
                                background-image: url(../../../assets/search/img/arrow-right-dashed.svg);
                            }
                            &.left-solid {
                                background-image: url(../../../assets/search/img/arrow-left-solid.svg);
                            }
                            &.right-solid {
                                background-image: url(../../../assets/search/img/arrow-left-solid.svg);
                                transform: scaleX(-1);
                            }
                        }
                    }
                }
            }

            span.subtitle {
                .font-miriam;
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
                opacity: 0.5;
                .ellipsis;
                height: 16px;
                width: 100%;
            }

        }
    }

    .bottom-line {
        .bottom-right {
            flex: 0 1 100%;
            font-size: 13px;
            font-weight: 400;
            opacity: 0.8;
            .font-miriam;
            .ellipsis;

            ::ng-deep {
                strong {
                    font-weight: 700;
                }
                .soft {
                    opacity: 0.9;
                }
            }
        }

        .bottom-left {
            margin-right: auto;
            flex: 0 0 auto;
            .ellipsis;
            text-align: left;
            font-size: 13px;
            font-weight: 400;
            .font-miriam;
            display: flex;
            flex-flow: row;
            align-items: center;
            gap: 4px;

            ::ng-deep {
                strong {
                    font-weight: 700;
                }
                .soft {
                    opacity: 0.7;
                }
            }
        }
    }

    &.borders-solid {
        .body {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }

    &.borders-dashing {
        &.color-top {
            .top-line {
                background-image: url(../../../assets/search/img/dashed-bottom.svg);
                background-size: 8px 100px;
                background-position: bottom right;
                background-repeat: repeat-x;
            }
        }
        .body {
            background-image: url(../../../assets/search/img/dashed-bottom.svg), url(../../../assets/search/img/dashed-top.svg);
            background-size: 8px 100px, 8px 100px;
            background-position: bottom right 2px, top right;
            background-repeat: repeat-x, repeat-x;
        }
        &.color-bottom {
            .bottom-line {
                background-image: url(../../../assets/search/img/dashed-top.svg);
                background-size: 8px 100px;
                background-position: top right 2px;
                background-repeat: repeat-x;
            }
        }
        &:not(.color-bottom) {
            .bottom-line {
                background: linear-gradient(180deg, #E5DFDA 0%, rgba(229, 223, 218, 0.00) 7.03%), var(--Color-2, #FFF);
            }
        }
    }

    &.icon-gov {
        .body {
            .background-image;
            background-image: url(../../../assets/search/img/search-bg-gov.svg);
            background-size: contain;
        }
    }

    &.icon-person {
        .body {
            .background-image;
            background-image: url(../../../assets/search/img/search-bg-person.svg);
            background-size: contain;
        }
    }

    .notes {
        padding: 4px;
        padding-top: 0;
        width: 100%;
        
        .inner {
            display: block;
            width: 100%;
            border-radius: 2px;
            border: 1px solid #9CD3FE;
            background-color: @color-white;
            background-image: url(../../../assets/lists/bg.png);
            background-size: 8px;
            background-repeat: repeat;
            height: 24px;
            padding: 0 4px;
            color: @color-lists-blue;
            text-align: right;
            .font-gadi;
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            display: flex;
            flex-flow: row;
            align-items: center;
            input {
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;

                &.empty {
                    padding-right: 20px;
                    .background-image;
                    background-size: 10px;
                    background-image: url(../../../assets/lists/icon-edit-gray-400.svg);
                    background-position: center right 2px;
                }

                &::placeholder {
                    color: @color-gray-600;
                    .font-abraham;
                    font-size: 13px;
                    font-weight: 300;
                }

                // &:focus {
                //     background-image: none;
                // }
            }
        }
    }
}
