<app-base-simple-item [item]='item' [questions]='questions'
    [headerBgColor]='"#FAF7FF"' [headerBorderColor]='"#BCB2D3"'
    [headerPrimaryColor]='"#5D5077"' [headerSecondaryColor]='"#8778A5"'>

    <ng-container class='category'>
        <strong>שינוי תקציבי</strong>&nbsp;/&nbsp;
        <span>{{item.summary.kind}}</span>
    </ng-container>

    <ng-container class='amount'>
        <span class='number'>{{ format.number(item.amount) }}</span>
        <small>₪</small>
    </ng-container>
    <ng-container class='title'>{{item.summary.title}}</ng-container>
    <ng-container class='subtitle'>
        העברה
        @if (partyFrom && partyTo) {
            מ{{partyFrom}} ל{{partyTo}}
        } @else if (partyFrom) {
            מ{{partyFrom}}
        } @else if (partyTo) {
            ל{{partyTo}}
        }
    </ng-container>
    <ng-container class='extraInfo'>
        <ng-container *ngIf='!!item.pending[0]'>על שולחן הוועדה</ng-container>
        <ng-container *ngIf='!item.pending[0]'>מאושרת</ng-container>
        מ-{{ item.date[0] }}
    </ng-container>


    <ng-container class='textTemplate'>
        <div>
            <label class="field-label">
                סוג הפניה:
            </label>
            {{ item.change_type_name[0] }}
        </div>
        
        @if (item.committee_id?.length > 0) {
        <div>
            <label class="field-label">
                מספרי הפניה:
            </label>
            {{ item.committee_id.join(', ') }}
        </div>
        }
        @if (item.transaction_id) {
        <div>
            <label class="field-label">
                מזהה הבקשה:
            </label>
            {{ item.transaction_id }}
        </div>
        }
        
        <label class="field-label">
            רשימת השינויים:
        </label>
        <table class="table">
            <thead>
                <th>קוד</th>
                <th>תכנית</th>
                @if (item.year >= 2020) {
                    <th class='explanation'><i class='bk-tooltip-anchor ai-icon'><span class='bk-tooltip'>ניתוח מבוסס AI של דברי ההסבר</span></i> מטרת השינוי</th>
                }
                <th>שינוי<br/> בהוצאה נטו</th>
                <th>שינוי<br/> בהוצאה מותנית</th>
                <th>שינוי<br/> בהרשאה להתחייב</th>
                <th>שינוי<br/> בהכנסה מיועדת</th>
                <th>שינוי<br/> בשיא כח אדם</th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <strong>
                            סה״כ שינויים
                        </strong>
                    </td>
                    <td>
                        <strong class='number'>
                            {{ format.number(item.net_expense_diff) }}
                        </strong>
                    </td>
                    <td>
                        <strong class='number'>
                            {{ format.number(item.gross_expense_diff) }}
                        </strong>
                    </td>
                    <td>
                        <strong class='number'>
                            {{ format.number(item.commitment_limit_diff) }}
                        </strong>
                    </td>
                    <td>
                        <strong class='number'>
                            {{ format.number(item.allocated_income_diff) }}
                        </strong>
                    </td>
                    <td>
                        <strong class='number'>
                            {{ format.number(item.personnel_max_diff) }}
                        </strong>
                    </td>
                </tr>
                @for (change of item.change_list; track change.budget_code_title) {
                    <tr>
                        <td class='code'>
                            {{ format.niceCode(change.budget_code_title.split(':')[0]) }}
                        </td>
                        <td class='title'>
                            <a [routerLink]="['/i', 'budget', change.budget_code_title.split(':')[0], item.year]">{{ change.budget_code_title.split(':')[1] }}</a>                        
                        </td>
                        <td colspan="5" class='explanation'>
                            {{ change.ai_change_explanation }}
                        </td>                        
                        <td class='report-link'>
                            <a [routerLink]="['/dashboards', 'budget-transfers', 'budget', change.budget_code_title.split(':')[0], item.year]">
                                דו״ח היסטוריה ונהנים
                            </a>
                        </td>
                    </tr>
                    <tr class='inner-row'>
                        <td colspan="3">
                        </td>
                        <td>
                            <span class='number'>{{ format.number(change.net_expense_diff) }}</span>
                        </td>
                        <td>
                            <span class='number'>{{ format.number(change.gross_expense_diff) }}</span>
                        </td>
                        <td>
                            <span class='number'>{{ format.number(change.commitment_limit_diff) }}</span>
                        </td>
                        <td>
                            <span class='number'>{{ format.number(change.allocated_income_diff) }}</span>
                        </td>
                        <td>
                            <span class='number'>{{ format.number(change.personnel_max_diff) }}</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <ng-container *ngIf='item.explanation'>
            <label class="field-label">
                דברי ההסבר המלאים:
            </label>
            <div class="objective" [innerHTML]='item.explanation'>
            </div>    
        </ng-container>

    </ng-container>
  </app-base-simple-item>