.inner-row {
    td {
        border: none;
    }

}

td.report-link, td.code, td.title, th.explanation {
    white-space: nowrap;
}



td.explanation {
    font-weight: 300;
}

.objective {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    padding-left: 40px;
}