<div class='pointatron-container'>
    <div *ngFor="let root of roots" class="pointatron">
      <div class='svg-container'>
        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200" [attr.width]="200 / root.scale" [attr.height]="200 / root.scale" version="1.1">
          <ng-container  *ngIf='root.children'>
            <circle [attr.cx]="c.x" [attr.cy]="c.y" [attr.r]="root.radius"
                    [style.fill]="root.color" *ngFor="let c of root.children"/>
          </ng-container>
        </svg>
      </div>
      <div class="title">
        {{ root.title }}
      </div>
      <div class="amount" [style.color]="root.color">
        {{ root.amount }}
      </div>
    </div>
  </div>