@import '../../../../common.less';

header {
  height: @headerHeight;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  gap: 24px;
  .desktop({
    padding: 0 24px;
  });
  .mobile({
    padding: 0 16px;
  });

  .skip-to-content {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateY(-100%);
    overflow: hidden;

    &:focus {
      transform: translateY(0);
      background: #fff;
      padding: 4px 8px;
      border: 1px solid #e7e7e7;
      height: auto;
      width: auto;
    }
  }

  div.logo {
    flex: 0 0 auto;
    width: 80px;
    height: 100%;
    padding: 2px 0;

    a {
      width: 100%;
      height: 100%;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  div.search-div{
    padding: 0;
    flex: 1;

    .search-box {
      margin: 5px !important;
    } 
  }
  div.menu-links {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: left;
    gap: 40px;

    a {
      cursor: pointer;
      white-space: nowrap;
      text-align: center;

      &, &:hover, &:visited {
        color: #192841;
      }
    }
  }

  .mobile-separator {
    margin-right: auto;
    margin-left: -24px;
  }

  div.collapsed-search {
    flex: 0 0 auto;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #FF5A5F;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
    cursor: pointer;
  }

  div.collapsed-menu, div.collapsed-share {
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;

    // &.with-search {
    //   margin-right: 10px;
    // }

    &:hover .menu {
      display: flex;
    }
    &.visible .menu {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 32px;
      right: -100px;
      flex-flow: column;
      align-items: flex-start;
      width: 150px;
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
      display: none;
      z-index: 100;

      
      .menu-line {
        cursor: pointer;
        padding: 6px 10px;
        width: 100%;
        color: #505050;
        font-size: 14px;
        .font-abraham;
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 8px;
      }
      
      .menu-line:hover {
        color: #FF5A5F;	
        background-color: #FCEBEC;
      }
    
    }
  }

  div.collapsed-share {
    width: 32px;
    height: 32px;
    .share-icon {
      display: flex;
      width: 100%;
      height: 100%;
      .background-image;
      width: 32px;
      height: 32px;
      background-size: 32px;
      background-image: url(../../../../assets/common/img/icon-share-main.svg);
    }
    .menu {
      top: 32px;
      right: 16px;
      transform: translateX(50%);

      .menu-line {
        .icon {
          .background-image;
          width: 24px;
          height: 24px;
          background-size: 24px;
          background-image: url(../../../../assets/common/img/icon-share-main.svg);

          &.twitter {
            background-image: url(../../../../assets/common/img/icon-share-twitter.svg);
          }
          &.facebook {
            background-image: url(../../../../assets/common/img/icon-share-facebook.svg);
          }
          &.whatsapp {
            background-image: url(../../../../assets/common/img/icon-share-whatsapp.svg);
          }
          &.mobile-share {
            background-image: url(../../../../assets/common/img/icon-share-mobile-share.svg);
          }
        }

        &:hover {
          .icon {
            &.twitter {
              background-image: url(../../../../assets/common/img/icon-share-twitter-hover.svg);
            }
            &.facebook {
              background-image: url(../../../../assets/common/img/icon-share-facebook-hover.svg);
            }
            &.whatsapp {
              background-image: url(../../../../assets/common/img/icon-share-whatsapp-hover.svg);
            }
            &.mobile-share {
              background-image: url(../../../../assets/common/img/icon-share-mobile-share-hover.svg);
            }            
          }
        }
      }
    }
  }
  div.auth-widget{
    padding: 0;
    display: block;

    .login {
      color: #505050 !important;
    }
  }
}