<header>
    <a class="skip-to-content" [routerLink]="['.']" [fragment]='"main"' [queryParamsHandling]='"preserve"'>דלג לתוכן עיקרי</a>
    <div class="logo">
      <a [routerLink]='logoRouterLink' [queryParamsHandling]='"preserve"' aria-label='homepage' [style.background-image]='"url(assets/common/img/" + globalSettings.theme.siteLogo + ")"'>
      </a>
    </div>
    <div *ngIf="showSearchBar" class="search-div layout-desktop">
      <app-bk-search-bar [fake]='fakeSearchBar' (submit)='doSearch($event)'></app-bk-search-bar>
    </div>
    <div class='mobile-separator'></div>
    <div class="menu-links layout-desktop">
      <ng-container *ngFor="let link of globalSettings.theme.headerLinks">
        <a [href]="link.href" [innerHtml]='link.title' [target]='link.href.indexOf("http") === 0 ? "_blank" : null' clickOnReturn></a>
      </ng-container>
      <a *ngIf='globalSettings.theme.userGroup && showUserGroup()' (activated)='whatsappGroupModal.set(true)' clickOnReturn>
        <span>קבוצת המשתמשים<br/>בווטסאפ <i class='fa fa-whatsapp' aria-hidden='true'></i></span>
      </a>
      <ng-container *ngIf='showLanguages'>
        <a (activated)='switchLang("en")' clickOnReturn>En</a>
        <a (activated)='switchLang("ar")' clickOnReturn>عر</a>
        <a (activated)='switchLang("he")' clickOnReturn>עב</a>
      </ng-container>
    </div>
    <div *ngIf="showSearchBar" class="collapsed-search layout-mobile" (click)='doSearch()'>
      <img class="search-icon" src="/assets/common/img/search-glass-white.svg">
    </div>
    <app-share-widget *ngIf='showShare'></app-share-widget>
    <div class="collapsed-menu layout-mobile" [class.with-search]='showSearchBar' [class.visible]='showCollapsedMenu()' (click)='openCollapsedMenu()'>
      <i class="glyphicon glyphicon-menu-hamburger"></i>
      <div class='menu'>
        <ng-container *ngFor="let link of globalSettings.theme.headerLinks">
          <a class='menu-line' (activated)="doNavigate(link.href)" clickOnReturn>
            <span [innerHtml]='link.title'></span>
          </a>
        </ng-container>
        <a *ngIf='globalSettings.theme.userGroup' class='menu-line' (activated)="whatsappGroupModal.set(true)" clickOnReturn>
          <span>קבוצת המשתמשים<br/>בווטסאפ <i class='fa fa-whatsapp' aria-hidden='true'></i></span>
        </a>
    </div>
    </div>
    <div class="auth-widget">
      <app-auth [theme]='globalSettings.theme' *ngIf='showAuth'></app-auth>
    </div>
  </header>

<app-modal [standardLayout]='true'
    *ngIf='whatsappGroupModal()'
    (close)='whatsappGroupModal.set(false)'
    title='יש לכם שאלה על תקציב המדינה?'
>
  <div class='subscription-modal-contents'>
    <p>
      הצטרפו לקבוצת הווטסאפ של משתמשי ״מפתח התקציב״!<br/><br/>
      מטרת הקבוצה היא לאפשר למשתמשי ומשתמשות האתר לשאול שאלות על תקציב המדינה ועל השימוש באתר ״מפתח התקציב״, להציע לאחרים עזרה בהבנה ובתפעול ולהציע הצעות לשיפור.
      <br/><br/>
      יוצרי האתר גם נמצאים בקבוצה (אבל לא תמיד), אז תהיו נחמדים!
      <br/><br/>
      <a href='https://chat.whatsapp.com/BXxxMMpukgjCrn5wN4RB12' target="_blank">להצטרפות לקבוצת הווטסאפ <i class='fa fa-whatsapp' aria-hidden='true'></i></a>
      <br/><br/>
      <small>
        שימו לב: קבוצה זו לא מיועדת לבירור נושאים פיננסיים אישיים.<br/>אנו לא מייצגים אף גוף ממשלתי, חברה עסקית, תנועה או עמותה.
      </small>
    </p>
  </div>
</app-modal>
