<div class='procure-container'>

    <app-item-page-header
        [primaryColor]='"#313E69"' [secondaryColor]='"#6D82B4"'
        [bgColor]='"#FFFDFA"' [borderColor]='"#E5DFDA"'
    >
        <ng-container class='category'>
            <strong>התקשרות ממשלתית</strong>&nbsp;/&nbsp;
            <span [title]='item.payments[item.payments.length - 1].date'>
                (עדכון אחרון: {{ format.relativeDate(item.payments[item.payments.length - 1].date) }})
            </span>
        </ng-container>
        <ng-container class='extraInfo'>

            @if (totalAmount()) {
                <span>עד כה שולמו</span>
                <span class='number' [innerHtml]='format.ils(totalPaid())'></span>
                <span>שהם</span>
                <span class='number' [innerHtml]='format.percent(totalPaid() / totalAmount())'></span>
                <span>מתוך:</span>
                <app-timeline-part [size]='13'
                            [percent]='100 * totalPaid() / totalAmount()'
                            [padding]='0' 
                            [major]='true'
                            [first]='true'
                            [last]='true'>
                </app-timeline-part>
            }
        </ng-container>
        <ng-container class='title'><span>{{ item.purpose }}</span></ng-container>
        <ng-container class='subtitle'>
            <span>{{ publisher() }} &larr; </span>
            @if (item.entity_id && item.entity_kind && item.entity_name) {
                <app-item-link [itemId]='"org/" + item.entity_kind + "/" + item.entity_id'>{{item.entity_name}}</app-item-link>
            } @else if (toText()) {
                <span>{{ toText() }}</span>
            }
        </ng-container>
        <ng-container class='amount'>
            @if (totalAmount()) {
                <span class='number' [innerHtml]='format.number(totalAmount())'></span>
                <small>₪</small>
            }
        </ng-container>
    </app-item-page-header>
    <div class='hero'>
        <div class='details'>
            <div *ngIf='item.resolved_budget_codes && item.resolved_budget_codes.length'>
                <h3>סעיף תקציבי:&nbsp;</h3><br/>
                <span class='label-text'>
                    <a [href]='"/i/" + item.resolved_budget_codes[0].doc_id'>
                    {{ item.resolved_budget_codes[0].title }} ({{ item.resolved_budget_codes[0].code.slice(2) }})
                    </a>
                </span>
            </div>
            <div *ngIf='item.purchase_method'>
                <h3>אופן רכישה:&nbsp;</h3><br/>
                <span class='label-text'>{{ item.purchase_method }}</span>
                <span *ngIf='item.exemption_reason && item.exemption_reason.length && item.exemption_reason[0].length && item.exemption_reason[0].length > 5'>&nbsp;({{item.exemption_reason[0]}})</span>
            </div>
            
            <div class='payments' *ngIf='paymentsTable'>
                <h3>דיווחים רבעוניים על תשלומים שבוצעו</h3>
                <table>
                    <thead>
                        <th></th>
                        <th></th>
                        <th>ינואר - מרץ</th>
                        <th></th>
                        <th>אפריל - יוני</th>
                        <th></th>
                        <th>יולי - ספטמבר</th>
                        <th></th>
                        <th>אוקטובר - דצמבר</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let row of paymentsTable'>
                            <td>{{ row.year }}</td>
                            <ng-container *ngFor='let period of ["1","2","3","4"]'>
                                <td>
                                    <ng-container *ngIf='row[period]'>
                                        <a class='bk-tooltip-anchor' 
                                        [href]='row[period].url' 
                                        target='_blank'
                                        *ngIf='row[period].url && row[period].diff != 0'>
                                            <i class='glyphicon glyphicon-paperclip'></i>
                                            <span class='bk-tooltip'>להורדת הדו"ח הרבעוני</span>
                                        </a>
                                    </ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf='row[period]'>
                                        <span *ngIf='row[period].diff != 0'
                                            class='number'
                                            [innerHtml]="format.ils(row[period].diff)">
                                        </span>
                                        <span *ngIf='row[period].diff == 0'>
                                            &#8212;
                                        </span>
                                    </ng-container>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class='payments-mobile' *ngIf='currentPaymentRow'>
                <h3>דיווחים רבעוניים על תשלומים שבוצעו</h3>
                <table>
                    <thead>
                        <tr>
                            <th>חודשים/שנים</th>
                            <th>
                                <div>
                                    <span class='prevnext' [class.disabled]='!prevPaymentRow' (click)='prevPaymentRow && updatePaymentRows(currentPaymentRowIndex+1)'>
                                        <i class='glyphicon glyphicon-chevron-right'></i>
                                    </span>
                                    <span class='year'>{{currentPaymentRow.year}}</span>
                                    <span class='prevnext' [class.disabled]='!nextPaymentRow' (click)='nextPaymentRow && updatePaymentRows(currentPaymentRowIndex-1)'>
                                        <i class='glyphicon glyphicon-chevron-left'></i>
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let period of ["ינואר - מרץ", "אפריל - יוני", "יולי - ספטמבר", "אוקטובר - דצמבר"]; let i = index'>
                            <td>{{period}}</td>
                            <td>
                                <ng-container *ngIf='currentPaymentRow[i]'>
                                    <span *ngIf='currentPaymentRow[i].diff != 0'
                                        class='number'
                                        [innerHtml]="format.ils(currentPaymentRow[i].diff)">
                                    </span>
                                    <span *ngIf='currentPaymentRow[i].diff == 0'>
                                        &#8212;
                                    </span>
                                </ng-container>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class='points'>
                    <div class='point'
                         *ngFor='let row of paymentsTable; let i=index;'
                         [class.active]='i == currentPaymentRowIndex'
                         (click)='updatePaymentRows(i)'
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class='payments-graph'>
        <h3>סכום התשלומים המצטבר בהתקשרות
            <span style='font-weight: normal'>(לפי רבעונים)</span>
        </h3>
        <app-contract-payments [payments]='item.payments'>
        </app-contract-payments>
    </div>
</div>