div.main {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 50px 10px;

    h1 {
        color: #2389FF;
        font-family: "Miriam Libre";
        font-size: 36px;
        font-weight: bold;
    }
}

ul.dashboard-tree {
    list-style: none;
    max-width: 770px;
    width: 100%;
    padding-inline-start: 0;

    ul.dashboard-tree {
        padding-inline-start: 24px;
    }

    li {
        padding: 6px 0;
    }

    span.folder-label {
        color: #3C4948;
        font-family: "Abraham TRIAL";
        font-size: 20px;
        font-weight: bold;
        display: block;
    }

    a {
        color: #3C4948;
        font-family: "Abraham TRIAL";
        font-size: 20px;
        text-decoration: underline;
    }
}
