<app-item-page-header
      [bgColor]='"#F5FAFF"' [borderColor]='"#A5B9DA"'
      [primaryColor]='"#495A8F"' [secondaryColor]='"#6D82B4"'>
  <ng-container class='title'>{{ item.name }}</ng-container>
  <ng-container class='subtitle'>#{{ item.id }}</ng-container>
  <ng-container class='amount'>
    <small [bkTooltip]='"<strong>כספי ממשלה שהתקבלו</strong> במסגרת תמיכות והתקשרויות מתועדות <strong>משלוש השנים האחרונות</strong>"'>
    </small>
    <span class='number'>{{ format.number(item.received_amount) }}</span>
    <small>₪</small>    
  </ng-container>
  <ng-container class='category'><strong>{{item.kind_he}}</strong></ng-container>
  <ng-container class='extraInfo'>{{ item.details?.address || item.details?.address_lines?.[0] || item.details?.city || item.details?.address_city || '' }}</ng-container>
</app-item-page-header>

<div class="text-container" [style.color]='"#512C0A"'>
    <div class="text" *ngIf='overrideText'>
        <ng-content select='.textTemplate'></ng-content>
    </div>
    <div class="text" *ngIf='!overrideText'>
        <strong>{{ item.name }}</strong>
        <span *ngIf='item.name_en'>
            ({{item.name_en}})
        </span>
        <span>
            היא
            {{ item.kind_he }}
            (מספר תאגיד: {{ item.id }})    
        </span>
    </div>
    <div class='tips'>
        <ng-content select='.tipsTemplate'></ng-content>
    </div>
</div>

<app-item-visualizations *ngIf="item.charts" [item]="item"></app-item-visualizations>