<app-container [showHeader]="true" [showSearchBar]="true" [listSideView]='true' [showShare]="false" [fakeSearchBar]='fakeSearchBar'>
  <div #container class="budgetkey-item-wrapper container-fluid" [ngClass]="'style-' + style" *ngIf='init'>
    <div class='item-container'>
      @if (prefix("budget/")) {
        @if (prefix("budget/00/")) {
          <app-item-budget0dig [item]='item'></app-item-budget0dig>
        }
        @if (prefix("budget/C[0-9]/")) {
          <app-item-budget-func [item]='item'></app-item-budget-func>
        }
        @else if (prefix("budget/C[0-9][0-9]+/")) {
          <app-item-budget-func-detail [item]='item'></app-item-budget-func-detail>
        }
        @else if (prefix("budget/00([0-9][1-9]|[1-9][0-9])/")) {
          <app-item-budget2dig [item]='item'></app-item-budget2dig>
        }
        @else if (prefix("budget/00([0-9][1-9]|[1-9][0-9])[0-9]{2}/")) {
          <app-item-budget4dig [item]='item'></app-item-budget4dig>
        }
        @else if (prefix("budget/00([0-9][1-9]|[1-9][0-9])[0-9]{4}/")) {
          <app-item-budget6dig [item]='item'></app-item-budget6dig>
        }
        @else if (prefix("budget/00([0-9][1-9]|[1-9][0-9])[0-9]{6}/")) {
          <app-item-budget8dig [item]='item'></app-item-budget8dig>
        }
  
        @else if (prefix("budget/0000/")) {
          <app-item-income2dig [item]='item'></app-item-income2dig>
        }
        @else if (prefix("budget/0000[0-9]{2}/")) {
          <app-item-income4dig [item]='item'></app-item-income4dig>
        }
        @else if (prefix("budget/0000[0-9]{4}/")) {
          <app-item-income6dig [item]='item'></app-item-income6dig>
        }
        @else if (prefix("budget/0000[0-9]{6}/")) {
          <app-item-income8dig [item]='item'></app-item-income8dig>
        }        
      }

      @else if (prefix("national-budget-changes/")) {
        <app-item-budget-changes [item]='item'></app-item-budget-changes>
      }

      @else if (prefix("org/")) {
        @if (prefix("org/association/")) {
          <app-item-association [item]='item'></app-item-association>
        }
        @else if (prefix("org/company/")) {
          <app-item-company [item]='item'></app-item-company>
        } @else if (prefix("org/municipality")) {
          <app-item-muni [item]='item'></app-item-muni>
        } @else {
          <app-base-org-item [item]='item'></app-base-org-item>
        }
      }

      @else if (prefix("muni_budgets/")) {
        <app-item-muni-budget [item]='item'></app-item-muni-budget>
      }

      @else if (prefix("contract-spending/") || prefix("tenders/central/") || prefix("tenders/office/") || prefix("tenders/exemptions/") || 
                prefix("calls_for_bids/") || prefix("support_criteria/") || prefix("muni_tenders/office/")) {
        <app-item-procurement [item]='item'></app-item-procurement>
      }

      @else if (prefix("supports/")) {
        <app-item-supports [item]='item'></app-item-supports>
      }

      @else if (prefix("people/")) {
        <app-item-people [item]='item'></app-item-people>    
      }

      @else if (prefix("gov_decisions/")) {
        <app-item-gov-decision [item]='item'></app-item-gov-decision>
      }

      @else if (prefix("gov_social_service/")) {
        <app-item-social-service [item]='item'></app-item-social-service>
      }
      
      @else if (prefix("units/gov_social_service_unit/")) {
        <app-item-social-service-gov-unit [item]='item'></app-item-social-service-gov-unit>
      }

      @else if (prefix("reports/ngo-activity-report/")) {
        <app-item-ngo-activity-report [item]='item'></app-item-ngo-activity-report>
      }
      @else if (prefix("reports/ngo-district-report/")) {
        <app-item-ngo-district-report [item]='item'></app-item-ngo-district-report>
      }
    </div>
    
    <ng-container *ngIf='showQuestions'>
      <app-questions-panel #questionsPanel [item]='item' [questions]='questions'></app-questions-panel>
    </ng-container>
  </div>
</app-container>