<div class='dialog'>
    <ng-container *ngIf='!listSelectionMode'>
        <div class='header'>
            <div class='icon'></div>
            <div class='title'>
                <span>נוסף לרשימה:</span>
                <h1>{{list.title}}</h1>
            </div>
            <div class='action'>
                <a class='close-button' *ngIf='editing' (activated)='done()' clickOnReturn></a>
                <a class='select-list-button' *ngIf='!editing' (activated)='listSelectionMode = true' clickOnReturn></a>
            </div>
        </div>
        <div class='notes'>
            <div class='placeholder' *ngIf='!editing' clickOnReturn (activated)='editing = true'>#תגיות והערות לסעיף זה...</div>
            <textarea [(ngModel)]='itemNotes' placeholder='#תגיות והערות לסעיף זה...' *ngIf='editing'></textarea>
        </div>
    </ng-container>
    <ng-container *ngIf='listSelectionMode'>
        <div class='list-selection'>
            <ng-container *ngFor='let list of lists.curatedLists()'>
                <div class='list-selection-item' clickOnReturn (activated)='toggleSubscription(list)' [class.subscribed]='subscribed(list)'>
                    <div class='icon'></div>
                    <div class='title'>{{list.title}}</div>
                </div>
            </ng-container>
        </div>
        <div class='new-list'>
            <div class='editor' clickOnReturn (activated)='editing = true' *ngIf='!editing'>
                <div class='icon'></div>
                <div class='placeholder'>רשימה חדשה</div>
            </div>
            <div class='editor' *ngIf='editing'>
                <div class='icon'></div>
                <input [(ngModel)]='newList' placeholder='רשימה חדשה'/>
            </div>
            <div class='action'>
                <a class='close-button' (activated)='done()' clickOnReturn></a>
            </div>
        </div>
    </ng-container>
</div>