<div class="collapsed-share" [class.visible]='showShareMenu()' (click)='openShareMenu()'>
    <div class="share-icon">
        @if (color) {
            <svg width="32" height="16" viewBox="8 16 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]='D' [attr.fill]='color'/>
            </svg>    
        } @else {
            <svg width="32" height="32" viewBox="8 8 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="9" y="9" width="38" height="38" rx="25" fill="#FF5A5F" stroke="#FF5A5F" stroke-width="2"/>
                <path [attr.d]='D' [attr.fill]='"white"'/>
            </svg>    
        }
        
    </div>
    <div class='menu' [class.align-left]='!!color'>
        <a class='menu-line' [href]='seo.twitterShare' target="_blank">
            <span class='icon twitter'></span>
            שיתוף בטוויטר
        </a>
        <a class='menu-line' [href]='seo.fbShare' target="_blank">
            <span class='icon facebook'></span>
            שיתוף בפייסבוק
        </a>
        <a class='menu-line' [href]='seo.whatsappShare' target="_blank">
            <span class='icon whatsapp'></span>
            שיתוף בוואטסאפ
        </a>
        <a class='menu-line layout-mobile' (activated)="seo.mobileShare()" clickOnReturn>
            <span class='icon mobile-share'></span>
            שיתוף אחר
        </a>
    </div>
</div>