<div class='header'>
    <div class='top-line'>
        <div class='top-right' [style.color]='primaryColor'>
            <app-share-widget [color]='secondaryColor'></app-share-widget>
            <ng-content select='.category'></ng-content>
        </div>
        <div class='top-left' [style.color]='secondaryColor'>
            <ng-content select='.extraInfo'></ng-content>
        </div>
    </div>
    <div class='bottom-line'
        [style.background-color]='bgColor'
        [style.border-color]='borderColor'
    >
        <app-add-to-list-icon [doc]='doc'
            [color]='primaryColor'
            [secondaryColor]='secondaryColor || "#9888BB"'
        ></app-add-to-list-icon>
        <div class='bottom-right'>
            <h1 class='title' [style.color]='primaryColor'>
                <ng-content select='.title'></ng-content>
            </h1>
            <h2 class='subtitle' [style.color]='secondaryColor'>
                <ng-content select='.subtitle'></ng-content>
            </h2>
        </div>
        <div class='bottom-left'>
            <div class='amount' [style.color]='secondaryColor'>
                <ng-content select='.amount'></ng-content>
            </div>
        </div>
    </div>
</div>