@import '../../../common.less';

:host {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        flex-flow: column;

        .top-line {
            width: 100%;
            min-height: 32px;

            padding: 4px 0;
            padding-right: 14px;
            padding-left: 8px;

            display: flex;
            flex-flow: row;
            align-items: center;

            app-share-widget {
                margin-left: 8px;
            }

            .top-right {
                .font-abraham;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;

                display: flex;
                flex-flow: row wrap;
                align-items: center; 
    

                ::ng-deep {
                    strong {
                        font-weight: 500;
                    }
                }
            }
            .top-left {
                margin-right: auto;
                .font-abraham;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 0.25em;

                ::ng-deep {
                    strong {
                        font-weight: 500;
                    }
                }
                .mobile({
                    display: none;
                });
            }
        }

        .bottom-line {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            gap: 16px;
            padding: 16px 8px;
            padding-right: 14px;
            border: 1px solid transparent;

            app-add-to-list-icon {
                position: relative;
                top: 10px;
                margin-right: 2px;
                margin-left: -6px;
            }

            .bottom-right {
                flex: 1 0 300px;
                white-space: normal;
                display: inline;
                max-width: 100%;


                .title {
                    display: inline-block;
                    margin: 0;
                    .font-miriam;
                    text-align: right;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: normal;
                    margin-left: 8px;              
                }

                .subtitle {
                    display: inline-block;
                    margin: 0;
                    .font-miriam;
                    text-align: right;
                    font-size: 32px;
                    font-weight: 400;
                    line-height: normal;                    
                }
            }
            
            .bottom-left {
                margin-right: auto;
                flex: 0 0 auto;

                .amount {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    gap: 6px;
                    .font-abraham;
                    font-size: 32px;
                    font-weight: 300;
                    line-height: normal;
    
                    ::ng-deep {
                        small {
                            font-size: 20px;
                        }    
                    }        
                }
            }
        }
    }
}