<app-base-simple-item [item]='item' [questions]='questions'
    [headerBgColor]='"#FAF7FF"' [headerBorderColor]='"#BCB2D3"'
    [headerPrimaryColor]='"#5D5077"' [headerSecondaryColor]='"#8778A5"'
>
  <ng-container class='category'>
    <ng-content select='.category'></ng-content>
  </ng-container>
  <ng-container class='amount'>
    <span class='number'>{{ format.number(item.net_revised) }}</span>
    <small>₪</small>
  </ng-container>
  <ng-container class='title'>{{item.title}}</ng-container>
  <ng-container class='subtitle'>
    <ng-content select='subtitle'></ng-content>
  </ng-container>
  <ng-container class='textTemplate'>
    <ng-content select='.textTemplate'></ng-content>
    בשנת {{item.year}} תקציב {{item.title}}
    <ng-container *ngIf='item.net_allocated'>הוא ₪{{ format.number(item.net_allocated) }}.</ng-container>
    <ng-container *ngIf='!item.net_allocated'>לא הוקצה.</ng-container>
    
    <ng-container *ngIf='item.net_allocated !== item.net_revised'>
      <br />אחרי העברות תקציביות, התקציב הוא ₪{{ format.number(item.net_revised) }}
    </ng-container>
    
    <ng-container *ngIf='!takana && item.total_direction_income < 0'>
      <br />
      יחד עם הכנסות עצמיות של ₪{{ format.number(-item.total_direction_income) }}, סך ההוצאות תחת סעיף זה הן ₪{{ format.number(item.total_direction_expense) }}.
    </ng-container>

    <ng-container *ngIf='takana'>
      <br />
      זוהי תקנת {{item.direction?.[0]}} המשמשת לצורך {{item['nice-econ-category']}}.
    </ng-container>
    
    <ng-container *ngIf='!!item.gross_allocated || !!item.gross_revised'>
      <br />
      בנוסף, קיימת בסעיף זה הוצאה המותנית בהכנסה בסך של ₪{{ format.number(item.gross_revised || item.gross_allocated) }}.
    </ng-container>

    <ng-container *ngIf='!!item.commitment_allowance_allocated || !!item.commitment_allowance_revised'>
      <br />
     בסעיף זה קיימת הרשאה להתחייב על סכום של ₪{{ format.number(item.commitment_allowance_revised || item.commitment_allowance_allocated) }}.
    </ng-container>

    <br />
    <ng-container *ngIf='item.covid19_expenses_revised > 0'>
      <strong>
        סעיף זה כולל הוצאה מיוחדת להתמודדות עם מגיפת הקורונה בסך 
        ₪{{ format.number(item.covid19_expenses_revised) }}.
      </strong>
      <br />                    
    </ng-container>
    
    <ng-container *ngIf='!takana'>
      בחלוקה לפי סוגי הוצאה עיקריים:
      <ul>
        <li *ngIf='item.total_econ_cls_salaries > 0'>שכר: ₪{{ format.number(item.total_econ_cls_salaries) }}
          ({{ format.number(item.total_econ_cls_salaries/item.total_direction_expense*100) }}%)
        </li>
        <li *ngIf='item.total_econ_cls_transfers > 0'>תמיכות והעברות: ₪{{ format.number(item.total_econ_cls_transfers) }}
          ({{ format.number(item.total_econ_cls_transfers/item.total_direction_expense*100) }}%)
        </li>
        <li *ngIf='item.total_econ_cls_procurement > 0'>רכש וקניות: ₪{{ format.number(item.total_econ_cls_procurement) }}
          ({{ format.number(item.total_econ_cls_procurement/item.total_direction_expense*100) }}%)
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf='executedYear'>
      <br />
      הביצוע בשנת {{executedYear}} עמד על
      ₪{{ format.number(item.history[executedYear].net_executed) }}
      <br />
    </ng-container>
    
    <ng-container *ngIf='!!item.personnel_allocated || !!item.contractors_allocated || !!item.personnel_revised || !!item.contractors_revised'>
      תחת סעיף זה מוקצים
      <ng-container *ngIf='!!item.personnel_allocated || !!item.personnel_revised'>
        {{ format.number(item.personnel_revised || item.personnel_allocated) }} תקני כח אדם
      </ng-container>
      <ng-container *ngIf='(!!item.personnel_allocated || !!item.personnel_revised) && (!!item.contractors_allocated || !!item.contractors_revised)'>
        , ובנוסף
      </ng-container>
      <ng-container *ngIf='!!item.contractors_allocated || !!item.contractors_revised'>
        {{ format.number(item.contractors_revised || item.contractors_allocated)}} חודשי עבודה בלתי צמיתה (יועצים וקבלנים)
      </ng-container>
      <br />
    </ng-container>

    <ng-container *ngIf='!!startYear'>
      <ng-container *ngIf='startYear !== item.year'>
        תקציב זה פעיל בין השנים: {{ startYear }} - {{ item.year }}.
      </ng-container>
      <ng-container *ngIf='startYear === item.year'>
        תקציב זה פעיל בשנת: {{ item.year }} בלבד.
      </ng-container>
    </ng-container>  
  </ng-container>
</app-base-simple-item>