<app-base-budget-item [item]='item' [questions]='questions'>
    <ng-container class='preTitleTemplate'>{{item['nice-code']}}</ng-container>
    <ng-container class='subtitleTemplate'>
        תכנית בתקציב המדינה - תחת תחום
        <app-item-link [itemId]='parentId'>{{parent}}</app-item-link>
        בסעיף
        <app-item-link [itemId]='grandParentId'>{{grandParent}}</app-item-link>.<br/>
        לרוב כוללת תקציב עבור פעילות מרכזית אחת של הממשלה. העברות תקציביות מבוצעות ברמת התכנית.
    </ng-container>
</app-base-budget-item>