<div class="budgetkey-item-visualizations-wrapper row" *ngIf="item.charts">
    <div class="tabs" *ngIf="charts.length > 1">
      <div class="tabs-row" (scroll)='tabsScroll($event)'>
        <ng-container>
          <div *ngFor="let tab of charts"
              class="tab-header"
              [ngClass]="{active: tab == current}"
              (click)="showTab(tab)">
              <span class='tab-title'
                    (click)="showTab(tab)">
                    {{ tab.title }}
              </span>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="tab-contents" *ngIf="chart">
      <div class="chart-title" [innerHtml]="current['long_title'] || current.title"></div>
      <div class="chart-description" *ngIf="current.description"
           [innerHtml]="current.description"></div>
      <div class="subtabs" *ngIf="subcharts">
        <div class="subtab-row">
          <div class="subtab" *ngFor="let subtab of subcharts"
              [ngClass]="{active: subtab === currentSub}"
              (click)="showSubTab(subtab)">
              <input type="radio" [checked]="subtab === currentSub"/>
              <label [innerHtml]="subtab.title"></label>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!subcharts">
        <ng-container *ngFor="let tab of charts">
          <app-chart-router [chart]='chart' [item]='item' *ngIf="tab == current"></app-chart-router>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="subcharts">
        <ng-container *ngFor="let subtab of subcharts">
          <ng-container *ngIf="subtab == currentSub">
            <div class="subtab-title" *ngIf="subtab.long_title" [innerHtml]="subtab.long_title"></div>
            <app-chart-router [chart]='chart' [item]='item'></app-chart-router>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>