<app-base-budget-item [item]='item' [questions]='questions'>
    <ng-container class='category'>
        <strong>תת-סיווג נושאי רוחבי</strong>&nbsp;/&nbsp;
        <app-item-link [itemId]='"budget/00/" + item.year'>תקציב המדינה</app-item-link>&nbsp;/&nbsp;
        <app-item-link [itemId]='parentId'>{{parent}}</app-item-link>
    </ng-container>
    <ng-container class='extraInfo'>
    </ng-container>
    <ng-container class='textTemplate'>
        ריכוז כלל ההוצאה תחת תת-נושא
        {{ item.func_cls_title_2[0] }},
        במסגרת הנושא
        <app-item-link [itemId]='parentId'>{{parent}}</app-item-link>.<br/>
        הטיפול בתת-נושא זה יכול להתחלק בין מספר משרדים שונים.<br/><br/>
        <div class="objective" *ngIf='item.explanation'>
            <span [innerHTML]='item.explanation'></span>
            <div><small>&mdash;&nbsp;מקור: {{item.explanation_source}}</small></div>
            <br/>
        </div>
    </ng-container>

</app-base-budget-item>