<app-item-page-header
      [bgColor]='headerBgColor' [borderColor]='headerBorderColor'
      [primaryColor]='headerPrimaryColor' [secondaryColor]='headerSecondaryColor'>
  <ng-container class='title'><ng-content select='.title'></ng-content></ng-container>
  <ng-container class='subtitle'><ng-content select='.subtitle'></ng-content></ng-container>
  <ng-container class='amount'><ng-content select='.amount'></ng-content></ng-container>
  <ng-container class='category'><ng-content select='.category'></ng-content></ng-container>
  <ng-container class='extraInfo'><ng-content select='.extraInfo'></ng-content></ng-container>
</app-item-page-header>

<div class="budgetkey-item-description-wrapper">
  <div class="subtitle"><ng-content select='.subtitleTemplate'></ng-content></div>
  <div><ng-content select='.textTemplate'></ng-content></div>
</div>

<app-item-visualizations *ngIf="item.charts" [item]="item"></app-item-visualizations>