<ng-container *ngIf='configured'>
    <app-bk-header *ngIf="showHeader"
        [showSearchBar]="showSearchBar"
        [showLanguages]="showLanguages"
    ></app-bk-header>
    <div class='app'>
        <div class='main' id='main'>
            <ng-content></ng-content>
        </div>
        <div class='list' *ngIf='lists.currentList() && listSideView && layout.desktop'>
            <app-list-view [list]="lists.currentList() || lists.EMPTY_LIST" [headerControls]='true'></app-list-view>
        </div>
    </div>
    <app-bk-footer *ngIf="showFooter" [helpWidget]='helpWidget'></app-bk-footer>
</ng-container>
