<ng-container *ngIf='configured'>
    <app-bk-header *ngIf="showHeader"
        [showSearchBar]="showSearchBar"
        [showLanguages]="showLanguages"
    ></app-bk-header>
    <div class='app'>
        <div class='main' id='main'>
            <ng-content></ng-content>
        </div>
        <div class='list' *ngIf='list && listSideView && layout.desktop'>
            <app-list-view [list]="list"></app-list-view>
        </div>
    </div>
    <app-bk-footer *ngIf="showFooter" [helpWidget]='helpWidget'></app-bk-footer>
</ng-container>
