<app-base-simple-item [item]='item' [questions]='questions'
  [headerBgColor]='"#FAF7FF"' [headerBorderColor]='"#BCB2D3"'
  [headerPrimaryColor]='"#5D5077"' [headerSecondaryColor]='"#8778A5"'
>
    <ng-container class='category'>
    <ng-content select='.category'></ng-content>
    </ng-container>
    <ng-container class='extraInfo'>
    <ng-content select='.extraInfo'></ng-content>
    </ng-container>
    <ng-container class='amount'>
    <span class='number'>{{ format.number(item.net_revised) }}</span>
    <small>₪</small>
    </ng-container>
    <ng-container class='title'>{{item.title}}</ng-container>
    <ng-container class='subtitle'>{{item['nice-code']}}</ng-container>
    <ng-container class='textTemplate'>
      <ng-content select='.textTemplate'></ng-content>
      בשנת {{item.year}} תחזית הכנסות {{item.title}}
      <ng-container *ngIf='item.net_allocated'>היא ₪{{ format.number(item.net_allocated) }}.</ng-container>
      <ng-container *ngIf='!item.net_allocated'>לא הוקצתה.</ng-container>
      
      <ng-container *ngIf='executedYear'>
        <br />
        ההכנסות בפועל בשנת {{executedYear}} עמדו על
        ₪{{ format.number(item.history[executedYear].net_executed) }}
        <br />
      </ng-container> 

      <ng-container *ngIf='!!startYear'>
        <ng-container *ngIf='startYear !== item.year'>
          סעיף הכנסה זה פעיל בין השנים: {{ startYear }} - {{ item.year }}.
        </ng-container>
        <ng-container *ngIf='startYear === item.year'>
            סעיף הכנסה זה פעיל בשנת: {{ item.year }} בלבד.
        </ng-container>
      </ng-container>    
    </ng-container>
  </app-base-simple-item>