<div class='timeline-part'>
    <div *ngIf='!first'
        class='connector'
        [style.height]='sanitizer.bypassSecurityTrustStyle("calc(50% - " + size/2 + "px)")'
        [style.top]='0'>
    </div>
    <div *ngIf='!last'
        class='connector'
        [style.height]='sanitizer.bypassSecurityTrustStyle("calc(50% + " + (padding - size/2) + "px)")'
        [style.top]='sanitizer.bypassSecurityTrustStyle("calc(50% + " + size/2 + "px)")'>
    </div>
    <svg [attr.height]="size + 'px'"
         [attr.width]="size + 'px'">
        <circle [attr.cx]='size/2'
                [attr.cy]='size/2'
                [attr.r]='radius'
                [style.fill]='fill'
                [style.stroke]='stroke'
                [style.stroke-width]='strokeWidth'
                >
        </circle>
        <path *ngIf='percent'
              class='arc'
              [attr.d]="arc()"
              [style.stroke]='stroke'
              [style.fill]='stroke'>
        </path>
    </svg>
</div>