<footer class="footer">
    <div class='top-line'>
        <div class="link" *ngFor="let link of globalSettings.theme.footerLinks">
            <a [href]="link.href" [innerHtml]="link.title"></a>
        </div>
        <div class="hasadna" *ngIf='!globalSettings.theme.hideFooterHasadnaLogo'>
            <img class='hasadna-logo' src='assets/common/img/hasadna-logo.svg' alt='hasadna logo'>
            <a class='hasadna-link' href="{{hasadnaUrl}}">הסדנא לידע ציבורי</a>
        </div>
    </div>
    <div class="bottom-line">
        <p>
            <a href="https://github.com/OpenBudget/BudgetKey">קוד האתר</a>
            <span>זמין תחת רשיון MIT.</span>
        </p>
        <p>
            <img src='assets/common/img/cc-by-sa.svg' alt='cc-by-sa logo'>
            <span>על רוב תוכן האתר חל רישיון</span>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 של Creative Commons</a>
            <span>, אלא אם כן
            <a [href]='about("licenses")'>צויין אחרת</a>
            .</span>
        </p>
        <p>
            <span *ngIf='globalSettings.theme.footerText' [innerHtml]='globalSettings.theme.footerText'></span>
            <span *ngIf='!globalSettings.theme.footerText'>
                {{globalSettings.theme.siteName}} הוא פרויקט של
                <a href="https://www.hasadna.org.il">הסדנא לידע ציבורי</a>
                בהובלת <a href='https://whiletrue.industries'>אדם קריב</a>
                <a [href]='about("supporters")'>ובתמיכה ושיתוף עם מגוון גופים וקרנות</a>.
            </span>
        </p>
    </div>
</footer>