<div class='header'>
    <div class='header-content'>
        <div class='author'>
            <div class='avatar' [style.background-image]='"url(" + list.properties.avatar_url + ")"'></div>
            <div class='name'>{{list.properties.name}}</div>
        </div>
        <div class='title'>
            <div class='icon'></div>
            <h1 [editedContent]='editable()' (updated)='title = $event' #titleEl>{{title}}</h1>
        </div>
        <div class='timestamps'>
            <span>עודכן:</span>
            <span>{{format.relativeDate(list.update_time)}}</span>
            <span>|</span>
            <span>נוצר:</span>
            <span>{{format.relativeDate(list.create_time)}}</span>
        </div>
        <div class='description' [editedContent]='editable()' (updated)='description = $event' #descriptionEl>{{description}}</div>
        <div class='selectors'>
    
        </div>
    </div>
    <div class='controls' *ngIf='headerControls'>
        <a class='fullscreen-button' [routerLink]='["/l",  list.user_id, list.name]' [queryParams]='{list: null}' queryParamsHandling='merge' clickOnReturn></a>
        <a class='close-button' [routerLink]='"."' [queryParams]='{list: null}' queryParamsHandling='merge' clickOnReturn></a>
    </div>
</div>
<div class='list-contents'>
    <ng-container  *ngFor='let item of list.items; let i = index'>
        <search-result [item]="item.properties" [index]="i" [kind]="item.properties.type" 
            [bare]='false' [listable]='false'
            [showNotes]='true' [notes]='item.properties.__notes' [editableNotes]='editable()'
            (updatedNotes)='updateNotes(item, $event)'
            *ngIf='item.properties'
        ></search-result>
    </ng-container>    
</div>