<!-- <app-chart-plotly          *ngIf="chart.type == 'plotly'"
    [data]="chart.chart"
    [layout]="chart.layout"
></app-chart-plotly>
<app-chart-mushonkey            *ngIf="chart.type == 'mushonkey'"
    [data]="chart.chart"
></app-chart-mushonkey>
<app-chart-horizontal-barchart  *ngIf="chart.type == 'horizontal-barchart'"
    [data]="chart.chart"
></app-chart-horizontal-barchart>
<app-chart-adamkey-wrapper      *ngIf="chart.type == 'adamkey'"
    [data]="chart.chart"
></app-chart-adamkey-wrapper>
<app-chart-template             *ngIf="chart.type == 'template'"
    [data]="chart.chart"
></app-chart-template>
<budgetkey-horizontal-layout    *ngIf="chart.type == 'horizontal'"
        [data]="chart.chart"
></budgetkey-horizontal-layout>
<budgetkey-vertical-layout       *ngIf="chart.type == 'vertical'"
        [data]="chart.chart"
></budgetkey-vertical-layout>
<app-chart-pointatron           *ngIf="chart.type == 'pointatron'"
        [data]="chart.chart"
></app-chart-pointatron>
<app-chart-comparatron          *ngIf="chart.type == 'comparatron'"
        [data]="chart.chart"
></app-chart-comparatron>
<app-chart-spendomat            *ngIf="chart.type == 'spendomat'"
        [data]="chart.chart"
></app-chart-spendomat>
<ng-container *ngIf="chart.type == 'questions'">
    <budgetkey-item-questions [manager]='questionsManager' [label]='chart.label'></budgetkey-item-questions>
    <budgetkey-item-data-table [manager]='questionsManager'></budgetkey-item-data-table>
</ng-container> -->